.price {
  float: right;
}

#show-pizza {
  display: none;
}

#pizza-list {
  bottom: auto;
}

#complete-order {
  display: none;
}

.pizza {
    cursor: pointer;
    color: #0088cc;
}

.pizza:hover{
    text-decoration: underline;
}

#show-receipt {
  display: none
}

body {
  background-image: url('../img/pizzaback.jpg');
}

.container {
  background-color:rgba(192,192,192,0.9);
}

.header {
  text-align: center;
}
