.price {
  float: right;
}

#show-pizza {
  display: none;
}

#pizza-list {
  bottom: auto;
}

#comeplete-order {
  display: none;
}

.pizza {
    cursor: pointer;
    color: #0088cc;
}

.pizza:hover{
    text-decoration: underline;
}
